.contact {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(243, 243, 241, 0.753),$bg),url('../../assets/Background-Contact-Form.jpg');
  background-size: cover;
  margin-top: 190px;
  @include centralize;
  &__empty {
    width: 65%;
  }
  &__form {
    margin-right: 100px;
    width: 35%;
    form {
      font-size: 1.1rem;
      flex-direction: column;
      .nameEmail {
        justify-content: space-between;
        &__first {
          width: 50%;
          margin: 0 30px 10px 0;
        }
        &__second {
          width: 50%;
        }
      }
      label {
        font-size: .9rem;
        font-weight: bolder;
      }
      input, textarea {
        width: 100%;
        margin: 12px;
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: .7px solid $text;
        margin: 0;
        padding: 5px;
      }
      textarea {
        padding: 40px;
        margin-bottom: 20px;
      }
      .msg {
        margin-top: 15px;
        height: 50%;
        width: 100%;
        flex-direction: column;
      }
      .submit {
        width: 30%;
        margin-left: 250px;
        font-size: 1.1rem;
        border: none;
        background-color: transparent;
        border: .7px solid $text;
        padding: 10px;
      }
    }
  }
  .error {
    font-size: .9rem;
    color: red;
    margin-bottom: 5px;
  }
  .error:nth-of-type(1) {
    margin-bottom: 8px;
  }

  .success {
    text-align: center;
    font-size: 1rem;
    color: green;
    margin-bottom: 30px;
  }
}