div .homeHeader {
  height: 610px;
  width: 100%;
}
.homeHeader {
  flex-direction: row;
  align-items: center;
  margin-top: 120px;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 610px;
  margin-right: 0px;
  padding-right: 0px;
}

.homeHeaderImage {
  //top: 0;
  ////left: 0;
  //position: absolute;
  height: 610px;
  width: 260%;
  background-image: url("../../assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 98%;
  background-color: $bg;
  //margin-bottom: 0px;
}

.homeEmptySpace {
  width: 30%;
  height: 100vh;
}

.homeHeaderTextBox {
  flex-direction: column;
  @include centralize;
  text-align: center;
  width: 70%;
  z-index: 1;
  padding-right: 0px;
margin-right: 0px;
  h1, span {
    color: $text;
    font-weight: normal;
    font-size: 2.375rem;
    letter-spacing: -0.76px;
  }
}

.homeTextBoxDecoration {
  margin: 25px 0;
  background-image: url("../../assets/Decoration.svg");
  height: 33px;
  width: 253px;
  border: none;
}

.homeTextBoxBtns {
  font-size: 2.25rem;
  font-weight: lighter;
  margin-top: 13px;
  .link {
    text-decoration: none;
    color: $text;
  }
}


.homeTextBoxBtns div {
  @include centralize;
  text-align: center;
  border: 1px solid $text;
  width: 310px;
  height: 120px;
  margin: 25px;
  &:hover {
    transition: .2s;
    color: $hover;
    background-color: $bg;
    border: $hover;
  }
}